/* Body */

body{
    font-family: sans-serif;
    color: #373737;
    margin: 0px;
    letter-spacing: 2px;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 30px 0px 30px;
    width: 1550px;
}

.nav{
    display: block;
}

.menu-list{
    list-style: none;
}

.menu-list-item{
    display: inline-block;
}

.menu-list-item a{
    text-decoration: none;
    font-size: 18px;
    color: #373737;
    margin-right: 30px;
}

.logo-container img{
    width: 120px;
}

/* Main banner */

.main-banner img{
    width: 100%;
}

/* Web margin */

.web-padding{
    padding: 0px 40px;
}

/* Caracteristicas */

.characteristics{
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
    color: #000000;
    width: 1550px;
}

.characteristic{
    display: flex;
}

.characteristic img{
    width: 40px;
    padding: 0px;
    margin: 0px 10px;
}

.details{
    display: block;
    margin: auto;
}

.details-top{
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0px;
    margin: auto;
    margin-bottom: 3px;
}

.details-bottom{
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0px;
    margin: auto;
}

.score{
    font-weight: bold;
    width: 45px;
    font-size: 20px;
    padding: 0px;
    margin: auto 5px;
}

/* Colecciones */

.collections{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    gap: 20px;
    width: 1550px;
}

.collections img{
    width: 500px;
}

.image-link{
    text-decoration: none;
    color: #000000;
}

.collection{
    position: relative;
}

.collection-description{
    position: absolute;
    top: 130px;
    left: 30px;
}

.collection-description-buy{
    font-size: 30px;
    font-weight: lighter;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.collection-description-text{
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

/* Packs */

.packs{   
    position: relative;
    margin: 20px auto;
    color: #000000;
    width: 1550px;
}

.packs img{
    width: 1550px;
    overflow: hidden;
}

.packs-content{
    position: absolute;
    padding: 30px;
    top: 70px;
}

.packs-text{
    font-size: 17px;
    margin: 0px;
}

.packs-text-big{
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

.packs-button{
    border-radius: 0px;
    background-color: #373737;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 15px;
    margin: 30px 0px;
}

/* New collection */

.new-collection{
    color: #000000;
    margin: 80px auto;
    text-align: center;
    width: 100%;
    max-width: 1550px;
}

.new-collection-tittle{
    font-size: 20px;
}

.new-collection-text{
    margin: 0px 0px 40px 0px;
}

.new-collection-showroom{
    display: flex;
    justify-content: space-between;
}

.showroom-main{
    width: 650px;
    height: 650px;
}

.showroom-others{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-left: 10px;
    padding: 0px;
    min-width: 650px;
    height: 650px;
    gap: 10px;
}

.showroom-others img{
    height: 320px;
}

/* Newsletter */

.newsletter{
    margin: 80px auto;
    text-align: center;
    color: #000000;
}

.newsletter-tittle{
    font-size: 20px;
}

.newsletter-text{
    margin: 0px;
    margin-bottom: 15px;
    font-size: 13px;
}

.newsletter-input{
    margin: 0px;
    padding: 10px;
    width: 350px;
}

/* Footer */

.footer{
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    color: #373737;
}

.footer-texts{
    padding: 0px;
    margin: 0px;
}

.footer-texts a{
    text-decoration: none;
}

.footer-brand{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.footer-links{
    margin: 0px 0px 0px 20px;
    color: #373737;
    font-size: 12px;
}

.footer-list{
    list-style: none;
    margin: 0px;
}

.footer-item{
    display: inline-block;
}